<link rel="stylesheet" href="/styles/footer.css">
<footer>
    <div class="fb-like" data-href="https://www.facebook.com/128794183874722" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <div>
      <a href="https://www.facebook.com/128794183874722" target="_blank" class="logo" title="國立彰化師範大學 學生會"></a>
      <div class="r_fleft">
          <h6>國立彰化師範大學 學生會 Copyright © 2016 版權所有 All rights reserved.</h6>
          <p>最佳瀏覽器建議（IE9含以上、Chrome、Firefox、Safari）</p>
      </div>
    </div>
</footer>
<div id="fb-root"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=835193456508557";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
