<nav class="navbar navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" height="20" src="/images/icon.jpg">
                <div><%= webTitle %></div>
            </a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">關於</a></li>
                <li><a href="/faqs">常見問題</a></li>
                <form class="navbar-form navbar-left" action="/">
                    <div class="form-group">
                        <input name="keyword" type="text" class="form-control" placeholder="搜尋">
                    </div>
                </form>
                <% if(!login) { %>
                    <a role="button" class="btn btn-primary navbar-btn" href="/login">登入</a>
                <% } else { %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <% const hour = new Date().getHours(); %>
                            <%= user.givenName %>同學，<%= (hour < 5 || hour > 5) ? '晚' : (hour < 12) ? '早' : '午' %>安。 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% if (user.isAdmin) { %>
                              <li><a href="/admin">後臺管理</a></li>
                            <% } %>
                            <li><a href="/logout">登出</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
