<html>

<head>
    <%- include('head', {webTitle : '認證信驗證錯誤 - ' + webTitle}) %>
</head>

<body>
    <% include nav %>
        <div class="container">
            <header class="page-header">
                <h1>認證信驗證錯誤。</h1>
            </header>
        </div>
</body>

</html>
