#banner {
    background: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position: center;
    width: 100%;
}

#banner::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}

.block {
    position: relative;
    display: block;
    top: 60px;
    left: 50%;
    width: 247px;
    height: 275px;
    margin: 0px 0px 0px -123px;
    background: rgba(255, 255, 255, 0.7);
}

.block :first-child {
    color: #ffa43c;
    font-size: 96px;
    text-align: center;
    font-weight: 700;
}

.block :first-child::before {
    content: '參與';
    animation-name: slogan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes slogan {
    10% {
        content: '參與';
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    40% {
        content: '發聲';
        opacity: 1;
    }
    60% {
        content: '發聲';
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    90% {
        content: '參與';
        opacity: 1;
    }
}

.block :nth-child(2) {
    color: #484848;
    font-size: 72px;
    text-align: center;
    line-height: 20px;
}

.block :nth-child(3) {
    color: #484848;
    font-size: 54px;
    text-align: center;
    line-height: 100px;
    font-weight: 600;
}